In [2]:
import pandas as pd 

df = pd.read_csv('set-2020.csv')
df.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Unnamed: 7
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,POLICIA LEGISLATIVA,"R$ 1.100,00","R$ 275,00","R$ 0,00",NaN
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,VEREADOR,"R$ 10.128,89","R$ 0,00","R$ 0,00",NaN
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,"R$ 1.045,00","R$ 252,25","R$ 0,00",NaN
3,BELMIRO FERREIRA DA SILVA,172,Agente Político,VEREADOR,"R$ 10.128,89","R$ 0,00","R$ 0,00",NaN
4,BRUNO GAMA MEIRELES,197,Cargo Comissionado,CHEFE DE TRANSPORTE,"R$ 1.200,00","R$ 0,00","R$ 0,00",NaN